h1 {
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0px;
    padding: 10px 10px 0 10px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightgrey;
    text-align: left;
    margin: 0;
    padding: 0 20px 20px 20px;
}

li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: white;
    text-overflow: ellipsis;
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    contain: content;
    background: url("https://www.superherodb.com/gallery2/075/126/12687.jpg") no-repeat center center fixed;
    /* background-image: url("https://www.superherodb.com/gallery2/075/126/12687.jpg"); */
    background-color: rgb(41, 41, 41);

}

#headerDiv {
    /* margin: 0px; */
    text-align: center;
    width: 100%;
    outline: black 1px solid;
    background-color: rgb(240,20,30, 0.9)
    ;
}

#submitDiv {
   width: 100%;
   /* margin: 15px 0; */
   outline: black 1px solid;
   display: flex;
   /* flex-wrap: wrap; */
}

#leftSubmitDiv {
    width: 50%;
    background-color: rgb(21, 43, 239 , 0.8);
    outline: grey 1px solid;   
    text-align: center;
}

#rightSubmitDiv {
    width: 50%;
    background-color: rgba(192, 16, 16, 0.5);
    outline: grey 1px solid;
    text-align: center;
}

#leftForm , #rightForm {
    text-align: center;
    outline: black 1px solid;
}

#leftInput , #rightInput {
    width: 50%;
    text-align: center;
    font-size: 18px;
}

#leftSubmitBtn, #rightSubmitBtn {
    cursor: pointer;
    font-size: 14px;
}

#leftCharList , #rightCharList {
    width: 41%;
    text-align: center;
    font-size: 16px;
}

main {
    /* background-color: lightblue; */
    width: 100%;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    contain:content;
    
}

#leftMainDiv , #rightMainDiv {
    width: 50%;
    margin: 0px;
    background-color: rgb(128, 128, 128, 0.7);
    outline: black 1px solid;
    position: relative;
}

#leftImageDiv , #rightImageDiv {
    background-color: black;
    outline: grey 1px solid;
    min-height: 40%;
    max-height: 40%;
    contain: content;
}

#leftImageDiv img{
    width: 100%;
    object-fit: scale-down;
    object-position: top ;
    display: block;
}

#rightImageDiv img{
    width: 100%;
    object-fit: scale-down;
    object-position: top;
    
}

#leftStatsDiv {
    /* padding: 5px 50px 5px 10px; */
    /* text-align: right; */
    margin: 0px;
    /* background-color: rgb(9, 54, 255 , 0.1); */
    /* outline: black 1px solid; */
    contain: content;

}

#rightStatsDiv {
    /* padding: 5px 50px 5px 10px; */
    /* text-align: right; */
    /* background-color: lightseagreen; */
    /* outline: black 1px solid; */
    display: flex;
    flex-wrap: wrap;
    /* contain: content; */
    
}

#charName1 {
    width: 100%;
    height: max-content;
    margin: 4px;
    background-color: rgb(253,254,26, 0.9);
    box-shadow: 0 1px 1px darkgrey , 0 3px 3px grey ;
    border: 2px darkblue solid;
    
}

#charName2 {
    width: 100%;
    height: max-content;
    margin: 4px;
    background-color: rgb(253,254,26, 0.9);
    box-shadow: 0 1px 1px darkgrey , 0 3px 3px grey ;
    border: 2px darkred solid;
}

#leftStatsValues {
    width: 100%;
    margin: 0px;
    padding: 1px 20px 2px 0;
    background-image: linear-gradient(rgb(4, 91, 221) , rgba(56, 161, 231, 0.8) , rgb(207, 207, 207 , 0.0));
    text-align: left;
    position: relative;
}

#rightStatsValues {
    width: 100%;
    margin: 0px;
    padding: 1px 20px 2px 0;
    background-image: linear-gradient(rgb(255, 37, 37) , rgba(104, 31, 31, 0.8) , rgba(63, 0, 0, 0));
    text-align: left;
    position: relative;
}

footer {
    width: 100%;
    background-color: rgb(121,0,15);
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 5px;
}


@media only screen and (max-width: 1280px ) {
    #leftImageDiv , #rightImageDiv {
        min-height: 30%;
        max-height: 30%;
    }
}

@media only screen and (max-width:1024px ) {
    h1 {
        font-size: 40px;
    }
    h3 {
        font-size: 20px;
    }
    h2{
        font-size: 30px;
    }
    li {
        font-size: 14px;
    }
    p {
        font-size: 18px;
    }
    body {
        /* height: 100vh; */
    }
    #leftImageDiv , #rightImageDiv {
        min-height: 30%;
        max-height: 30%;
    }

    #leftInput , #rightInput {
        width: 50%;
        font-size: 18px;
    }
    
    #leftSubmitBtn, #rightSubmitBtn {
        font-size: 14px;
        /* float: right; */
    }

    #leftCharList , #rightCharList {
        width: 60%;
        font-size: 14px;
    }
  }

  @media only screen and (min-width: 900px ) {
    h1 {
        font-size: 25px;
    }
    h3 {
        font-size: 14px;
    }
    h2{
        font-size: 16px;
    }
    li {
        font-size: 12px;
    }
    p {
        font-size: 14px;
    }
    body {
        /* height: 100vh; */
    }
    #leftImageDiv , #rightImageDiv {
        min-height: 25%;
        max-height: 25%;
    }
    #leftInput , #rightInput {
        width: 60%;
        font-size: 14px;
        float: left;
    }
    
    #leftSubmitBtn, #rightSubmitBtn {
        font-size: 12px;
        float: right;
    }

    #leftCharList , #rightCharList {
        width: 100%;
        font-size: 12px;
    }
  }


  @media only screen and (max-width: 600px ) {
    h1 {
        font-size: 25px;
    }
    h3 {
        font-size: 14px;
    }
    h2{
        font-size: 16px;
    }
    li {
        font-size: 12px;
    }
    p {
        font-size: 14px;
    }
    body {
        /* height: 100vh; */
    }
    #leftImageDiv , #rightImageDiv {
        min-height: 25%;
        max-height: 25%;
    }
    #leftInput , #rightInput {
        width: 60%;
        font-size: 14px;
        float: left;
    }
    
    #leftSubmitBtn, #rightSubmitBtn {
        font-size: 12px;
        float: right;
    }

    #leftCharList , #rightCharList {
        width: 100%;
        font-size: 12px;
    }
  }


@media only screen and (max-width: 375px ) {
    h1 {
        font-size: 25px;
    }
    h3 {
        font-size: 12px;
    }
    h2{
        font-size: 16px;
    }
    li {
        font-size: 12px;
    }
    p {
        font-size: 14px;
    }
    body {
        /* height: 100vh; */
    }
    #leftImageDiv , #rightImageDiv {
        min-height: 20%;
        max-height: 20%;
    }
    #leftInput , #rightInput {
        width: 60%;
        font-size: 14px;
        float: left;
    }
    
    #leftSubmitBtn, #rightSubmitBtn {
        font-size: 12px;
        float: right;
    }

    #leftCharList , #rightCharList {
        width: 100%;
        font-size: 12px;
    }
  }

