h1 {
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 10px 0 10px;
}

h3 {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    padding: 0 20px 20px 20px;
}

li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    list-style-type: none;
}

body {
    outline: black 1px solid;
    background-image: linear-gradient(lightgrey , grey);
    /* background-color: lightgray; */
    background-repeat: no-repeat;
    margin: 0;
    padding: 1.5%;
    contain: content;
}


#headerDiv {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    outline: black 1px solid;
    background-color: indianred;
}

#submitDiv {
   width: 100%;
   margin: 15px 0;
   outline: black 1px solid;
   display: flex;
}

#leftSubmitDiv {
    width: 50%;
    background-color: blue;
    outline: black 1px solid;   

}

#rightSubmitDiv {
    width: 50%;
    background-color: green;
    outline: black 1px solid;
}

#leftForm {
    text-align: center;
    outline: black 1px solid;
}

#rightForm {
    text-align: center;
    outline: black 1px solid;
}

#leftInput , #rightInput {
    width: 50%;
}

#leftSubmitBtn, #rightSubmitBtn {
    cursor: pointer;
}

main {
    background-color: lightblue;
    /* width: 100%; */
    display: flex;
    contain:content;
}

#leftMainDiv{
    width: 50%;
    /* float: left; */
    outline: black 1px solid;
}

#rightMainDiv  {
    width: 50%;
    /* float: right; */
    outline: black 1px solid;
}

#leftImageDiv {
    background-color: lightgreen;
    outline: black 1px solid;
    min-height: 20%;
    max-height: 20%;
    contain: content;
}

#rightImageDiv {
    background-color: pink;
    outline: blue 1px solid;
    min-height: 20%;
    max-height: 20%;
    contain: content;
}

#leftImageDiv img{
    width: 100%;
    object-fit: scale-down;
    object-position: top ;
}

#rightImageDiv img{
    width: 100%;
    object-fit: scale-down;
    object-position: top;
    
}

#leftStatsDiv {
    padding: 5px 50px 5px 10px;
    text-align: right;
    background-color: lightseagreen;
    outline: black 1px solid;

}

#rightStatsDiv {
    padding: 5px 0 5px 10px;
    text-align: left;
    background-color: lightsteelblue;
    outline: black 1px solid;
    
}

footer {
    width: 100%;
    background-color: magenta;
    height: 50px;
    text-align: center;
    padding-top: 5px;
}