h1 {
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 10px 0 10px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin: 0;
    padding: 0 20px 20px 20px;
}

li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    list-style-type: none;
}

body {
    outline: black 1px solid;
    background-image: linear-gradient(lightgrey , grey);
    /* background-color: lightgray; */
    background-repeat: no-repeat;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    contain: content;
}


#headerDiv {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    outline: black 1px solid;
    background-color: indianred;
}

#submitDiv {
   width: 100%;
   /* margin: 15px 0; */
   outline: black 1px solid;
   display: flex;
}

#leftSubmitDiv {
    width: 50%;
    background-color: blue;
    outline: black 1px solid;   
    text-align: center;
}

#rightSubmitDiv {
    width: 50%;
    background-color: green;
    outline: black 1px solid;
}

#leftForm {
    text-align: center;
    outline: black 1px solid;
}

#rightForm {
    text-align: center;
    outline: black 1px solid;
}

#leftInput , #rightInput {
    width: 50%;
}

#leftSubmitBtn, #rightSubmitBtn {
    cursor: pointer;
}

#leftCharList , #rightCharList {
    width: 41%;
    text-align: center;
}

main {
    background-color: lightblue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    contain:content;
}

#leftMainDiv{
    width: 50%;
    /* float: left; */
    outline: black 1px solid;
}

#rightMainDiv  {
    width: 50%;
    /* float: right; */
    outline: black 1px solid;
}

#leftImageDiv {
    background-color: lightgreen;
    outline: black 1px solid;
    min-height: 30%;
    max-height: 30%;
    contain: content;
}

#rightImageDiv {
    background-color: pink;
    outline: blue 1px solid;
    min-height: 30%;
    max-height: 30%;
    contain: content;
}

#leftImageDiv img{
    width: 100%;
    object-fit: scale-down;
    object-position: top ;
}

#rightImageDiv img{
    width: 100%;
    object-fit: scale-down;
    object-position: top;
    
}

#leftStatsDiv {
    /* padding: 5px 50px 5px 10px; */
    /* text-align: right; */
    background-color: lightseagreen;
    outline: black 1px solid;
    contain: content;

}

#rightStatsDiv {
    /* padding: 5px 50px 5px 10px; */
    /* text-align: right; */
    background-color: lightseagreen;
    outline: black 1px solid;
    display: flex;
    flex-wrap: wrap;
    contain: content;
    
}

#charName1 {
    width: 100%;
    height: max-content;
    background-color: palegoldenrod;
    
}

#charName2 {
    width: 100%;
    height: max-content;
    background-color: palegoldenrod;
    
}

#leftStatsValues {
    width: 100%;
    background-color: gold ;
    text-align: left;
    padding: 1px 20px 2px 0;
    
}

#rightStatsValues {
    width: 100%;
    background-color: gold;
    text-align: left;
}

footer {
    width: 100%;
    background-color: magenta;
    height: 50px;
    text-align: center;
    padding-top: 5px;
}

@media only screen and (max-width:1366px ) {
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    h2{
        font-size: 25px;
    }
    li {
        font-size: 16px;
    }
    p {
        font-size: 18px;
    }
    body {
        /* height: 100vh; */
    }
  }

@media only screen and (max-width: 812px ) {
    h1 {
        font-size: 20px;
    }
    h3 {
        font-size: 14px;
    }
    h2{
        font-size: 16px;
    }
    li {
        font-size: 12px;
    }
    p {
        font-size: 14px;
    }
    body {
        /* height: 100vh; */
    }
  }

